<ion-modal-view>
    <ion-header-bar>
	    <h4 class="modal-title">Change Password</h4>
	</ion-header-bar>
	<ion-content>
		<div class="modal-body">
		    <form name="form" novalidate>
		        <passwordindicator>
		        </passwordindicator>

		        <div class="modal-footer">
		            <label class="btn btn-danger" ng-click="cancel()">Cancel</label>
		            <label class="btn btn-success" ng-click="done(data)" ng-disabled="!data.Valid || data.PasswordConfirm != data.Password">Apply</label>
		        </div>
		    </form>
		</div>
	</ion-content>
</ion-modal-view>